/Calculations/nbproject/private/
/ExamResult/nbproject/private/
/SlcResult/nbproject/private/
/ExamResult/build/
/ComparitiveMarkSheet/nbproject/private/
/Marksheetremade/nbproject/private/
/Roughwork/nbproject/private/
/Rough/nbproject/private/